body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    text-align: center;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  